
*.env
*.db
#*.csv
*key.json
*keys.json
*.log
*.parquet
*.pkl
*.pickle
*.txt
*.zip
**__pycache__/
**.cache/
**.venv/

.github/
data/

*keys.json
**/mage_data/**

**/*.db
**/*.pyc
**/*.swp
**/.DS_Store
**/.web
**/node_modules/**
**/package-lock.json
**/package.json
*.db
.vscode
.web
**__pycache__/
backend.zip
bun.lockb
dist/*
frontend.zip
poetry.lock

