
*.env
*.db
#*.csv
*key.json
*keys.json
*.log
*.parquet
#*.pkl
*.pickle
*.txt
**.yaml
*.zip
**__pycache__/
**.cache/
**.venv/
data/
misc/
*keys.json
**/mage_data/**
**/*.db
**/*.pyc
**/*.swp
**/.DS_Store
**/.web
**/node_modules/**
**/package-lock.json
**/package.json
*.db
.vscode
.web
**__pycache__/
