dask[dataframe]
ftfy
geopandas
matplotlib
pandas
pyarrow
rapidfuzz
seaborn
shapely
sqlalchemy-bigquery

#psycopg2-binary  # Uso en 'tests/'

huggingface_hub[cli]
ipywidgets
torch
ctransformers
#accelerate