dask[dataframe]
ftfy
geopandas
matplotlib
pandas
pyarrow
pynecone
rapidfuzz
seaborn
shapely
sqlalchemy-bigquery

huggingface_hub[cli]
ipywidgets
torch
ctransformers

#psycopg2-binary  # Uso en 'tests/'
#accelerate  # uso GPU/TPU
#sec_api  # uso API de la SEC