dask[dataframe]
ftfy
geopandas
#google-cloud-bigquery
huggingface_hub
ipywidgets
#ipython-sql
matplotlib
pandas
pyarrow
rapidfuzz
seaborn
shapely
sqlalchemy-bigquery
torch
transformers
#psycopg2-binary    # Uso en 'tests/'